*.data
*.dat
*.elc
*.eld
session.*
.dap*
.org*

places
recentf
smex-items
viper
shellenv.el
opam-user-setup.el
bookmarks
eww-bookmarks
projects

auctex/
auto-save-list/
elpa/
eshell/
el-get/
eln-cache/
persp*/
irony/
url/
persist/
quelpa/
straight/
transient/
elpy/
var/
emojis/
request/
.circe/

# lsp
.lsp-session*

# lsp-java
workspace/
jdt-server/
eclipse.jdt.ls/

# ido
ido.last

.cask/
.python-environments/
